/* typography */

body {
	background-color: #B8B093;
	behavior: url(../js/cssHoverFix.htc);
}

p, #main_content ul, div.rb {
	margin-bottom: 18px;
	background-color: #F7F0D2;
	padding: 8px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;	
	-moz-border-radius: 6px;
	border-radius: 6px;
}

a:link, a:hover, a:visited, a:active {
	text-decoration: none;
	color: #193B2C;
	font-weight: bold;
}

a:hover {
	color: black;
	border-bottom: 2px solid #c6623c;
}

h1 {
	margin: 18px 0;
	line-height: 36px;
	font-size: 26px;
	font-weight: bold;
}

h2 {
	font-size: 18px;
	line-height: 20px;
	margin: 8px 0;
}

ul, ol {
	margin-bottom: 18px;
}

ol li {
	padding-bottom: 8px;
	list-style-position: outside;
	opacity: 1;
}

/* fluid.gs site design */

div.section div.column {
	
}

div.section div.column:last-child {
	
}

div.section div.column_content {
	padding: 5px;
	margin: 5px;
}

.mid {
	vertical-align: middle;
}

/*
#nav li  {
	margin: 1px;
	background-color: #e2e7f4;
	padding: 8px;
	line-height: 2em;
}
*/

/*Menu*/

#navigation {
	width: 150px;
	font-size: 12px;
}

/*Main Menu*/

#navigation ul {
	margin: 0px;
	padding: 0px;
}

#navigation ul li {
	height: 25px;
	line-height: 25px;
	list-style: none;
	padding-left: 10px;
	cursor: pointer;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;	
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #7E9C48;
	margin-top: 4px;
	margin-bottom: 4px;
	background-color: #F7F0D2;
}

#navigation ul li:hover {
	position: relative;
	background-color: #F7F0D2;
}

/*Sub Menu*/

#navigation ul ul {
	display: none;
	position: absolute;
	left: 75px;
	top: 5px;
	border: #fff solid;
	border-width: 1px;
	background-color: #eaeaea;
}

#navigation ul li:hover ul {
	display: block;
}

#navigation ul ul li {
	width: 150px;
	float: left;
	display: inline;
	border: none;
}

#navigation ul ul li:hover {
	text-decoration: underline;
	border: none;
}

#navigation li:hover ul li ul {
	display: none;
}

#navigation ul ul li ul {
	left: 110px;
	background-color: #ddd;
}

#navigation ul ul li:hover ul {
	display: block;
}

#main_content {
	font-size: 16px;
	line-height: 1.5em;
}

#main_content ul {
	font-size: 16px;
	line-height: 1.5em;
	margin-bottom: 25px;
}

#main_content ul li {
	text-indent: -1em;
	margin-left: 1.5em;
	margin-bottom: 8px;
}

#partnerLogos {
	width: 50px;
	margin-left: 15%;
}

#leftlower {
	background-color: white;
	width: 100px;
	padding: 15px;
}

#main_content .list{
	padding: 8px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;	
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 15px;
	background-color: #ddd;
	border: 1px solid #7E9C48;
}

li.strike {
	text-decoration: line-through;
}

.round {
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;	
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #7E9C48;

}

#main_content div.img {
	text-align: center;
	margin: 0;
}

#main_content p img {
	margin: 0 auto;
	display: block;
}

.cent {
margin: 0 auto;
	display: block;
}

a.plain {
	text-decoration: none;
}

a.plain:hover {
	text-decoration: none !important;
	border-bottom-style: none;
}
/*input[type=text]:hover, textarea#comments:hover,*/ input[type=text]:focus, textarea#comments:focus {  
        background-color: #f2e6b2;  
        border-color:#999999;  
}

input[type=text], textarea {
	width: 60%;
	margin: 10px;
	padding: 5px;
	height: 2.8em;
}

form#contactus_form {
}

#non-fill {
	display: none;
}

div.error {
	background-color: #fabebe;
	font-weight: bold;
	margin: 8px;
	padding: 8px;
}

#form_container {
	text-align: right;
}

#form_container label.textarea {
	position: relative;
	bottom: 48px;
}

#form_container textarea {
	height: 75px;
}

